body {
    background-color: #F5F2F2;
    box-sizing: border-box;
    font-family: Segoe UI,Geneva,Tahoma, Verdana, sans-serif;
    margin:2%;
    margin-left:6%;
}

/*barra de navegación*/

.topnav {
    
    padding: 20px;
    text-align: right;

}

    .topnav a {
        padding: 14px 16px;
        color: #363945;
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
        
    }
        .topnav a:hover {
            border-bottom: 2px solid #E0B589;
            letter-spacing: 1px;
        }

/*barra de secciones*/
.seccion a {
    padding: 10px 15px 0px;
    color: #9A8B4F;
    font-size: 18px;
    display: inline-block;
    border-bottom: none;
    text-decoration: none;
    margin-right:0%;
}

    .seccion a:hover {
        font-size: 19px;
    }

    /*cuadro principal*/

.borde {
    border: 3px solid #E0B589;
    padding: 2%;
    
}

.div-principal {
    overflow: hidden;
    width: 90%;
    
}

        /*seccion de la izquierda*/
.div-izq {
    position:inherit;
    width: 80%;
    float:left;
}

        /* labels */
    .form-izq {
        position: inherit;
        float: left;
        width: 47%;
        margin-top: 10px;
        text-align: right;
        line-height: 40pt;
        letter-spacing:1.5px;
    }
        /* textbox */
    .form-der {
        position: inherit;
        float: right;
        width: 50%;
        margin-top: 9px;
        line-height: 40pt;
    
    }
        .form-der input {      
            border-radius:10px;
            border: 2px solid #E0B589;
            
            height: 25px;
            width: 300px;
        }

.content-select select {
    border-radius: 10px;
    border: 2px solid #E0B589;
    background-color: #F5F2F2;
    height: 33px;
    width: 308px;
}

/*seccion de la derecha*/
.div-der {
    position: inherit;
    width: 20%;
    float: right;
}

    .div-der button {
        border-radius: 10px;
        border: 3px solid #363945;
        color: #363945;
        background-color: #F5f2F2;
        height: 50px;
        width: 120px;
        letter-spacing: 1px;
        float:right;
        margin-top:95%;
        margin-right:30%;
    }

        .div-der button:hover {
            color: #F5f2F2;
            background-color: #363945;
        }

   



.forder input {
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #E0B589;
    background-color: #F5F2F2;
    height: 25px;
    width: 300px;
}